.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.gameBoard {
  display: flex;
  flex-wrap: wrap;
  width:300px;
  margin:0 auto;
  box-sizing: border-box;
}

.square {
  flex: none;
  width: 100px;
  height: 100px;
  box-sizing: border-box;

  font-size: 80px;
  cursor:pointer;
}

.square_bottom {
  border-bottom: 1px solid #999;
}
.square_left-right {
  border-right: 1px solid #999;
  border-left: 1px solid #999;
}
.btn-wrapper {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:30px;
}
.btn-wrapper__button {
  flex:none;
  width: 280px;
  height:40px;
  font-size:24px;
  cursor:pointer;
  background-color:#444;
  color:#fff;
}
